
.track {
    text-align: left;
    text-indent: 20px;
    margin: 10px;
    border: 3px solid rgb(7, 255, 90);
    background-color: rgba(150, 231, 163, 0.771);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    box-shadow: 10px 5px 5px black;
}


.img {
    height: 100px;
    width: 100px;
    align-self: center;
}

.text {
    width: 40%;
}

.button {
    font-size: 40px;
    background: none;
    border: none;
    align-self: center;
    width: 40px;
    height: 20px;
}

.button:hover {
    cursor: pointer
}