.playList {
height: 80%;
width: 40%;

}


.playListTitle {
  color: white;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.playListTitle h2 {
  width: fit-content;
  margin-right: 10px;
}
.playListTracks {
  border: 3px solid #0FF510;
  border-radius: 20px;
  height: 85%;
   width: 100%;
   background-color: #364B36;
   overflow-y: scroll;
}

.playListButton {
  top: 20px;
}