.searchResults {
  height: 80%;
  width: 40%;
  
}

.searchResultsTitle {
  color: white;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.searchResultsTracks {
  border-radius: 20px;
  border: 3px solid #0FF510;
   height: 85%;
   width: 100%;
   background-color: #364B36;
   overflow-y: scroll;
   padding: 20px;
}

.searchResultsTracks::-webkit-scrollbar {
  background: none;
}

.searchResultsTracks::-webkit-scrollbar-thumb {
  position: absolute;
  right: 20px;
  background-color: #0FF510;
  border-radius: 10px;
}
